
body{
  background-color: beige;
}
h1{
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
}
ol{
  list-style-type:none;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;

}
ul{
  height: 100vh;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 20px;
  
}
li{
  padding: 10px;
  background-color: rgb(57, 162, 192);
  cursor: pointer;
  border-radius: 10px;
  color: white;
  width: 20%;

}
#foot{
  margin: 20px;
  padding: 20px;
  background-color: rgb(184, 218, 228);
  text-align: center;
  border-radius: 10px;
   box-shadow: 3px 3px rgb(25, 87, 88), -0.2em 0 .2em rgb(46, 163, 91);
}

.card{
  max-width: 250px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.3);
  align-items: center;
  text-align: center;
  background-color: rgb(117, 208, 228);
}

.card .card-img{

  background-color:white;
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-top: 10px;


}
.card .title{
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  color: rgb(232, 225, 225);
}
.card .detials{
  margin-top: 10px;
  color: rgb(47, 59, 70);

}
#root{
  width: 100vw;
  height: 100vh;
  
}